$maxWidth: 1280;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}
p {
  margin: 150px auto 0;
  max-width: 1400px;
  @include adaptiv-font(40, 18);
}

.theme-white.active {
/*   background: black; */
  color: white;
}

.theme-dark.active {
/*   background: white; */
  color: black;
}

.theme-white {
  background: white;
  color: black;
}

.theme-dark {
  background: black;
  color: white;
}

#theme {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 0;
  padding: 20px;
  cursor: pointer;
}
